# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/worker/firebase-config.js
/public/*.js
/public/*.map

# misc
.eslintcache
.DS_Store
.env*
src/configs/site-config.json
optimizations.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# npm
package-lock.json
