.textarea {
  min-height: 6rem;
  border-radius: 0.25rem;
  border: 1px solid var(--gray-300);
  .textarea__highlighter,
  .textarea__input {
    padding: 8px 1rem;
  }
  .textarea__suggestions {
    position: absolute;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--gray-300);
  }
}

textarea,
input {
  border-color: var(--gray-300) !important;
  &:focus,
  &:active {
    border-color: var(--blue-500) !important;
  }
  &[aria-invalid="true"] {
    border-color: var(--red-500) !important;
  }
  &:disabled {
    background: var(--gray-200) !important;
  }
}

[aria-invalid="true"] > div > div {
  border-color: var(--red-500) !important;
  box-shadow: 0 0 0 1px var(--red-500) !important;
}

.custom-checkbox-group > div {
  margin-bottom: 0 !important;
}

.places-search {
  > div:first-child {
    width: 100%;
  }
}

.gray-box,
.white-box,
.hover-box {
  background: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 0.25rem;
  display: inline-block;
  width: 100%;
}

.gray-box {
  border: 0;
  background: var(--gray-100);
}

.hover-box {
  transition: all 0.3s ease-out;
  top: 0px;
  position: relative;
  overflow: hidden;
  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -2px;
  }
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  &.mt {
    margin-top: 1rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

button[role="tab"] {
  padding: 0.75rem 1rem;
}

.text-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.elipsis,
.elipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.elipsis-2 {
  -webkit-line-clamp: 2;
}

.chakra-input,
.chakra-select,
.flatpickr-input {
  background: white !important;
}

.gray-box .lazyload-wrapper {
  height: 100%;
}

.chakra-modal__overlay {
  z-index: 5;
}

.chakra-badge {
  line-height: normal;
}

.chakra-tabs.nospace {
  [role="tabpanel"] {
    padding: 0;
  }
}

.tox-tinymce-aux {
  z-index: 1500 !important;
}
