:root {
  --heading-height: 124px;
  --subtle-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --chakra-colors-chakra-border-color: var(--chakra-colors-gray-300) !important;
  --chakra-colors-chakra-body-bg: var(--chakra-colors-gray-50) !important;
}

::selection {
  background-color: var(--chakra-colors-orange-600) !important;
  color: white !important;
}

html,
body,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

h1 svg,
h2 svg,
h3 svg,
a svg,
p svg,
span svg,
.svg--inline svg {
  display: initial !important;
  vertical-align: middle !important;
}

.icon-tabs svg {
  font-size: 1.2em;
  margin-right: 0.3rem;
}

.hidden,
[hidden="true"] {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

[data-hidden="true"] {
  display: none !important;
}

i,
em {
  font-style: italic;
}
