.table,
.sorting-row {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  background: var(--white);
  position: relative;
  width: 100%;

  td,
  th {
    border-left: 1px solid var(--gray-300);
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.4em;
    background-color: transparent;
    min-width: 60px;
  }

  thead {
    text-align: left;
    tr:nth-child(1) {
      color: #000;
      text-transform: capitalize;
    }
  }

  [data-highlight="true"] {
    td {
      background: var(--yellow-100) !important;
    }
    border-width: 3px 5px;
    border-color: var(--gray-700);
  }
}

.table-odd td,
.table-striped tr:nth-child(2n-1) td {
  background-color: var(--gray-200);
}

.sorting-row {
  display: table;
  cursor: move;
}

.sorting-row,
.table-bordered {
  thead > th,
  td {
    border-bottom: 1px solid var(--gray-300);
  }

  thead tr,
  td {
    border: 1px solid var(--gray-300);
  }

  tbody > tr:last-child > td {
    border-bottom-width: 0;
  }
}

.table-horizontal {
  td,
  th {
    border-width: 0 0 0 1px;
    border-bottom: 1px solid var(--gray-300);
  }

  tbody > tr:last-child > td {
    border-bottom-width: 0;
  }
}
