.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade {
  animation-name: simpleFade;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes simpleFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bounce {
  animation-name: simpleBounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes simpleBounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: floating 2s ease infinite;
}

@keyframes floating {
  50% {
    transform: translateY(-4px);
  }
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}
